<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fullwidth">
      <ul class = "nav nav-tabs shift-left">
        <li><%= link_to "Home", welcome_index_path%> </li>
        <li><%= link_to "Africa", states_africa_path %></li>
        <li><%= link_to "Asia", states_asia_path%></li>
        <li><%= link_to "Central America", states_central_america_path%></li>
        <li><%= link_to "Europe", states_europe_path%></li>
        <li><%= link_to "North America", states_north_america_path%></li>
        <li><%= link_to "Oceania", states_oceania_path%></li>
        <li><%= link_to "South America", states_south_america_path%></li>
      </ul>
    </div>


   <%= yield %>


</body>
</html>
